/* первичный цвет #212121 */
/* вторичный текст #757575 */
/* Цвет шрифта оглавления героя #FFFFFF */
/* Фон выделения  #2196F3 */
/* Фон хедера #FFFFFF */
/* Фон первой секции #E5E5E5 */
/* Фон второй секции  #F5F4FA */

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  /*  height: 80px; */
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --clients-section-bg-color: #e5e5e5;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
/*сброс точек списка*/
.list {
  list-style: none;
}
/*обнуление подчёркивания ссылок*/
.link {
  text-decoration: none;
}
/*----------------header-----------------------*/
.header {
  background-color: var(--header-bg-color);
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.curent-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-link {
  display: flex;
  margin-left: auto;
}

.connect-header-logo {
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.nav-link .item + .item {
  margin-left: 50px;
}

.nav-items {
}

.nav-items .link:hover,
.nav-items .link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.mail-item {
  display: inline-flex;
  align-items: center;
  fill: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  margin-right: 10px;
}

.phone-item {
  display: inline-flex;
  align-items: center;
  fill: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
  margin-right: 10px;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
  fill: currentColor;
}
/*----------------hero-section-----------------------*/
.hero-section {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*оглавление героя*/
.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  display: flex;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  cursor: pointer;
}

/*----------------skills-section--------------*/

.skills-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*.skills-box {
  height: 120px;
  display: flex;
  justify-content: center;
  border: transparent;
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 10px;
  margin-right: 30px;
  align-items: center;
}
*/

.skills-list-item {
  width: 270px;
}

.skills-list {
  display: flex;
  justify-content: center;
}

.skills-container-item {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.skills-list-item + .skills-list-item {
  margin-left: 30px;
}

.skills-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.skills-list-paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*----------------work-list-container--------------*/
.work-list-section {
  padding-bottom: 94px;
}

.work-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-list-txt {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work-list-item:hover .work-list-txt {
  transform: translateY(0);
}

.work-list-box {
  position: relative;
  display: inline-flex;
  overflow: hidden;
}

/*----------------team-section--------------*/
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-bg-color);
  width: auto;
}

.team-list {
  display: flex;
  justify-content: center;
}
.team-cards {
  width: 270px;
  background: #ffffff;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-cards:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-title-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 30px;
}
.team-paragraph-item {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: currentColor;
}

.team-social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}
/*----------------clients-section--------------*/
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item + .clients-list-item {
  margin-left: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover,
.clients-list-item:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/*----------------footer-container--------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}

.social-nav-footer {
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-bottom: 40px;

  margin-left: 70px;
}

.footer-social-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-flex;
}

.footer-social-list {
  display: flex;
}
.footer-social-icon {
  fill: #ffffff;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.logo-footer {
  margin-bottom: 20px;
}

.nav-link-down .item {
  margin-bottom: 9px;
}
.address-footer {
  margin-bottom: 9px;
}
/*характеристики шрифта логотипа*/
.logo-title-up {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
/*назначение цвета первых букв логотипа сверху*/
.logo-letters-up {
  color: var(--accent-color);
}

/*панель навигации*/
.nav-list .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*панель ссылок хедера*/
.nav-link .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--footer-bg-color);
}

.logo-letters-down {
  color: var(--accent-color);
}

.logo-title-down {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/*назначение характеристик строке адреса*/
.address-font p {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.nav-link-down a {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
  color: var(--white-text-color);
}

.subscribe-area {
  margin-left: 93px;
  margin-top: 12px;
}

.subscibe-area-title {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-flex;
}

.subscibe-form {
  display: flex;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  outline: none;
  /*   border: transparent; */
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-btn {
  margin-left: 12px;

  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: transparent;
}
.send-icon {
  margin-left: 10px;
}
/*------------------portfolio.html----------------------*/
.filter-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-section-list .button {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-section-list .button:hover,
.filter-section-list .button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter-section-list .button {
  cursor: pointer;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-left: 24px;
}

.portfolio-list-paragraph {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-left: 24px;
}
/*------------filter-container----------*/

.filter-section-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-section-list .item:not(:last-child) {
  margin-right: 8px;
}
/*------------portfolio-list----------*/

.portfolio-list-item:hover .portfolio-txt {
  transform: translateY(0);
}

.portfolio-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  /* overflow: auto; */
}

.portfolio-card-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-item {
  margin-right: 30px;
  justify-content: center;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-image {
  display: block;
}

.portfolio-cards {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;

  padding-left: 45px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-place {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  color: #ffffff;
  border: transparent;
}

/* .button-wrap {
  display: flex;
  justify-content: center;
} */

/* .modal-input-wrap {
  position: relative;
} */
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.comment-place {
  padding: 16px;

  outline: none;
}
.comment-place:focus {
  border-color: var(--accent-color);
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-lable {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.checkbox-lable {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  margin-bottom: 30px;
}

.agreement-link {
  color: var(--accent-color);
}
.agreement-link:visited {
  color: var(--accent-color);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/svg/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /*  background-origin: border-box; */
  border-color: var(--accent-color);
}

.checkbox-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.modal-close:hover .close-icon {
  fill: var(--accent-color);
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
