.skills-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skills-list-item {
  width: 270px;

  & + & {
    margin-left: 30px;
  }
}

.skills-list {
  display: flex;
  justify-content: center;
}

.skills-container-item {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.skills-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.skills-list-paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
